# Server configuration
export SERVER_PORT=8080

# Database configuration
export DB_HOST=postgres
export DB_PORT=5432
export DB_USER=mydb
export DB_PASSWORD=admin
export DB_NAME=catify
export DB_SSLMODE=disable

# Redis configuration
export REDIS_HOST=localhost
export REDIS_PORT=6379
export REDIS_PASSWORD=password
export REDIS_DB=0